@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Kreon');

.pagination>li>a{
    font-family: 'Kreon', serif;
    
    
    color: #14162e;
    background-color: white;
    border: 1px solid #e5e6e6;
}

.pagination>li>a:hover{
    background-color: rgba(85, 121, 130, 0.5);
    color: white;
}


.alert{
    position: absolute !important;
    float: left !important;
    top: 0 !important;
    z-index: 1000 !important;
    width:100% !important;
}

img[src=""]{
    display:none !important ;
}

p{
    font-family: 'Droid Sans', sans-serif;
    color:#8d8f92;
}

.notif{
    position: absolute;
    top:0;
}

.header {
    color:#333;
}

.navbar li {
    font-family: 'Kreon', serif;
    font-size:1.3em;
}

h1, h2, h3, h4, label{
    font-family: 'Kreon', serif;
    color: #333;
}

label{
    font-size:1.2em; 
}

.btn{
    font-size:1.2em;
    border-radius:365px;
    font-family: 'Kreon', serif;
}

.navbar-default{
    background-color:transparent;
    border:none;
}

.navbar-default .navbar-collapse{
    border-bottom: dashed 0.5px #c9c9c9;
}

.thumbnail{
    background-color: #fbfbfb;
    border: 1px solid #e6eef0;
}

.intro{
    margin: 40px 0 20px 0;
}

.author{
    color:#4e686f;
}

.navbar-brand {
  height:110px;
  padding: 0px;
}
.navbar-brand>img {
  
  padding: 15px;
}

.presentation{
border-bottom: dashed 0.5px #c9c9c9;
margin-bottom: 50px;
}

.mybutton{
    background-color:#e6eef0;
    color:#14162e;
    border:1px solid transparent;
}

.mybutton:hover{
    background-color:#fff;
    color:#14162e;
    border:1px solid #e6eef0;
}

.mybutton:active{
    background-color:#fff;
    color:#14162e;
    border:1px solid #e6eef0;
}

.mybutton:focus{
    background-color:#fff;
    color:#14162e;
    border:1px solid #e6eef0;
}

.mybutton:active:focus{
    background-color:#fff;
    color:#14162e;
    border:1px solid #e6eef0;
}

.socialnet{
    color: #557982;
}

.socialnet:hover{
    color: #14162e;
}

.img-responsive nathbull {
    margin: 0 auto  ;
}

footer{
    margin-top:40px;
    padding:15px 0 10px 0;
    background-color:#e6eef0;
    border-top:7px solid #cbd7db;
}

footer.hello{
    margin-top:10px;
}

@media(min-width:768px){
    .navbar-nav li a {
     line-height: 95px;
    }
}

@media(max-width:768px){
    #navigation-tb {
        border-bottom: dashed 0.5px #c9c9c9;
        padding-bottom:20px;
    }
    .navbar-default .navbar-collapse{
        border:none;
    }
}
