{% extends 'layout.twig' %}
{% block head %}
	<title>{{ singlepost.title}}</title>
{% endblock %}

{% block content %}
	{% for singlepost in singlepost %}

	<h2>{{ singlepost.title}}</h2>

	<div class="row">
		<p>{{ singlepost.content}}</p>
	</div>
	{% endfor %}
{% endblock	%}