{% extends 'layout.twig' %}
{% block head %}
	<title>Home - Welcome on my blog</title>
{% endblock %}
{% block content %}
    <div class="row presentation">
        <div class="col-md-6">
            <img src="img/nathbull.png" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h1 class="text-center">You're looking for a web developper ?</h1>
            <p class="intro">Porchetta turducken pork chop corned beef drumstick, jerky frankfurter ribeye rump tri-tip short ribs. Bresaola picanha kevin biltong ball tip filet mignon. Short ribs drumstick chicken boudin cow beef ribs cupim landjaeger pork loin ham hock ham alcatra corned beef strip steak shankle. Pork ball tip biltong, short ribs beef meatball cupim shankle turkey bacon sausage frankfurter bresaola doner leberkas.<br /><br>Kielbasa alcatra hamburger spare ribs prosciutto flank fatback short loin. Brisket meatloaf tail, drumstick flank bresaola sirloin salami shoulder biltong picanha doner beef. Beef ribs t-bone tail burgdoggen strip steak pancetta pork pork belly. Rump alcatra jerky tenderloin, beef ribs swine tri-tip pancetta flank bacon pork belly pork chop cow shoulder ham hock. Turducken venison shankle, ham hock tail pastrami picanha short loin pig bacon porchetta. Brisket sausage shank swine kielbasa, tongue prosciutto bacon venison boudin rump.</p>
        </div>
    </div>
{% endblock %}